.line{
	float:right;
	width:112px;
	height:47px;
	border-bottom:5px solid black;
	margin-right:500px;
}

a:link, a:visited{
	text-decoration: underline;
	text-decoration-color: red;
	color: black;
}

a:hover, a:active{

}
body{
	margin-left:30px;
}
.myName{
	font: bold 74px bahnschrift;
}
.info{
	font: 26px bahnschrift;
	text-align: right;
	margin-top:-170px;
}

.row{
	margin-top:170px;
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

.column{
	flex: 33%
	max-width: 33%;
	padding: 0 4px;
}

.column img{
	margin-top: 8px;
	vertical-align: middle;
	height: 300px;
	width: auto;
}

.column img:hover{
	opacity: 0.7;
}
@media screen and (max-width:600px){
	.column{
		flex: 66%;
		max-width: 66%;
	}
}

@media screen and (max-width: 400px){
	.column{
		flex:100%;
		max-width:100%
	}
}