@media screen and (min-width:900px){
	.center-line1{
		margin-bottom:20px;
		display:inline-block;	
		margin-left: 0px;
		width:200px;
		height:47px;
		border-bottom:5px solid white;
	}
	.center-line2{
		display:inline-block;
		margin-bottom:20px;
		margin-left: 10px;
		width:5px;
		height:47px;
		border-bottom:5px solid white;
	}
	.center-line3{
		display:inline-block;
		margin-bottom:20px;
		margin-left: 10px;
		width:200px;
		height:47px;
		border-bottom:5px solid white;
	}
}

a:link, a:visited{
	text-decoration: underline;
	text-decoration-color: red;
	color: #e8e3dc;
}

a:hover, a:active{
	color: #dbdbdb;
	text-decoration-color: #dbdbdb;
}
body{
	margin-left:30px;
}
.myName{
	color: #e8e3dc;
	font: bold 74px bahnschrift
}
.info{
	float: right;
	font: 26px bahnschrift;
	text-align: right;
	margin-top: -170px;
	color: #e8e3dc
}

.row{
	margin-top:50px;
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

.column{
	flex: 33%
	max-width: 33%;
	padding: 0 4px;
}

.column img{
	cursor: pointer;
	transition: 0.3s;
	margin-top: 8px;
	vertical-align: middle;
	height: 300px;
	width: auto;
}

.column img:hover{
	opacity: 0.7;
}
@media screen and (max-width:600px){
	.column{
		flex: 66%;
		max-width: 66%;
	}
}

@media screen and (max-width: 400px){
	.column{
		flex:100%;
		max-width:100%
	}
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  margin-top: -60px;
  display: block;
  width: 40%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #e8e3dc;
  padding: 10px 0;
  height: 150px;
}

.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 800px){
  .modal-content {
    width: 100%;
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
  }
}
