@media screen and (min-width:900px){
	.center-line1{
		margin-bottom:20px;
		display:inline-block;	
		margin-left: 90px;
		width:200px;
		height:47px;
		border-bottom:5px solid black;
	}
	.center-line2{
		display:inline-block;
		margin-bottom:20px;
		margin-left: 10px;
		width:5px;
		height:47px;
		border-bottom:5px solid black;
	}
	.center-line3{
		display:inline-block;
		margin-bottom:20px;
		margin-left: 10px;
		width:200px;
		height:47px;
		border-bottom:5px solid black;
	}
}

a:link, a:visited{
	text-decoration: underline;
	text-decoration-color: red;
	color: black;
}

a:hover, a:active{
	color: #dbdbdb;
	text-decoration-color: #dbdbdb;
}
body{
	margin-left:30px;
}
.myName{
	font: bold 74px bahnschrift;
}
.info{
	float:right;
	font: 26px bahnschrift;
	text-align: right;
	margin-top:-85px;
}

.row{
	margin-top:170px;
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

.column{
	flex: 33%
	max-width: 33%;
	padding: 0 4px;
}

.column img{
	margin-top: 8px;
	vertical-align: middle;
	height: 300px;
	width: auto;
}

.column img:hover{
	opacity: 0.7;
}
@media screen and (max-width:600px){
	.column{
		flex: 66%;
		max-width: 66%;
	}
}

@media screen and (max-width: 400px){
	.column{
		flex:100%;
		max-width:100%
	}
}